@import "../../assets/scss/breakpoints";

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 0;

  @include respond-to(m) {
    flex-direction: row;
  }
}

.title {
  font-size: 24px;
  line-height: 120%;
  color: cadetblue;

  @include respond-to(s) {
    width: 170px;
    font-size: 30px;
  }
}

.body {
  font-size: 16px;
  line-height: 125%;
  color: blanchedalmond;

  @include respond-to(s) {
    font-size: 22px;
  }
}

.input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;

  @include respond-to(m) {
    max-width: calc(100% - 170px);
  }
}

.inputTitle {
  color: cadetblue;
  font-size: 24px;
  border-bottom: 2px solid cadetblue;

  @include respond-to(s) {
    font-size: 30px;
  }
}

.inputBody {
  color: blanchedalmond;
  font-size: 16px;
  border-bottom: 2px solid blanchedalmond;

  @include respond-to(s) {
    font-size: 22px;
  }
}

div.wrapper {
  padding: 32px 16px;

  @include respond-to(s) {
    padding: 50px 100px;
  }
}

.navBar {
  margin: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include respond-to(m) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navBar button {
  margin-top: 24px;
}